@page
@model Parth_practical2.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="bg-light p-4">
<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ModifiedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ModifiedOn)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Category)
        </dt>
        <dd class="col-sm-10">
            <select asp-for="Product.CategoryId" class="form-control w-50 border-0" asp-items="ViewBag.CategoryId" disabled></select>
        </dd>
        <dd class="col-sm-6">
            <img src="@Model.Product.Imageurl" width="100%" style="border-radius:5px; border:0.5px solid #bbb9b6" />
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Product.productId" />
        <input type="submit" id="deleteBtn" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>

</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.getElementById('deleteBtn').addEventListener('click', function (e) {
        e.preventDefault();
        Swal.fire({
            title: 'Are you sure?',
            text: "Are You sure!  ",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                document.forms[0].submit();
            }
        })
    });
</script>


<style>


    .form-control:disabled {
        background-color: transparent;
        padding: 0;
    }
</style>